/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.meta {
  color: #aaa; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.row,
.wrapper, .header .header-container {
  *zoom: 1; }
  .row:before,
  .wrapper:before, .header .header-container:before, .row:after,
  .wrapper:after, .header .header-container:after {
    content: " ";
    display: table; }
  .row:after,
  .wrapper:after, .header .header-container:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.row {
  margin: 0 -1em; }

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .col-1 {
    width: 8.33333%; }
  .col-2 {
    width: 16.66667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33333%; }
  .col-5 {
    width: 41.66667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33333%; }
  .col-8 {
    width: 66.66667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33333%; }
  .col-11 {
    width: 91.66667%; }
  .col-12 {
    width: 100%; } }

.wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.row:after,
.wrapper:after, .header .header-container:after {
  content: "";
  display: table;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", Times, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .home .post-heading, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Cabin", Times, Verdana, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

h1, .h1 {
  font-size: 35px; }

h2, .h2 {
  font-size: 28px; }

h3, .h3 {
  font-size: 24.5px; }

h4, .h4, .home .post-heading {
  font-size: 21px; }

h5, .h5 {
  font-size: 17.5px; }

h6, .h6 {
  font-size: 14px; }

.header {
  text-align: center;
  background-color: #f6f6f6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }
  .header .header-container {
    max-width: calc(800px - (30px * 2));
    margin: 0 auto; }
  .header .site-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: .8em 0;
    letter-spacing: 1px;
    float: left; }
    .header .site-title a {
      color: #1b1b1b;
      text-decoration: none; }
      .header .site-title a:hover {
        color: #b90000; }
  .header .topnavigation {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400; }
    .header .topnavigation a {
      text-decoration: none;
      color: #1b1b1b; }
      .header .topnavigation a:hover {
        color: #b90000; }
      .header .topnavigation a.active {
        color: #dd0000; }
  .header ul.navigation {
    list-style: none; }
    .header ul.navigation li.nav-item {
      font-size: 12px; }

/************** NAVIGATION ***************/
nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  background: inherit; }

nav li,
nav ul {
  -ms-flex: 1;
      flex: 1; }

nav li:last-child {
  border-bottom: none; }

nav a {
  text-decoration: none;
  color: inherit;
  display: block; }

nav li {
  position: relative;
  line-height: 50px; }

nav input,
nav label {
  display: none;
  width: 36px;
  height: 36px;
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 36px;
  font-size: 1.6rem;
  border-radius: 2px; }

nav label {
  position: absolute;
  z-index: 100;
  top: 8px;
  right: 8px;
  transition: 0.4s; }

nav label:hover {
  cursor: pointer; }

nav label:before {
  font-family: FontAwesome;
  font-size: 24px;
  content: "\f0c9";
  text-align: center; }

/************* MEDIA QUERIES **************/
@media only screen and (max-width: 800px) {
  nav {
    position: relative;
    background-color: #f6f6f6; }
  nav ul {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: 100; }
  nav li {
    -ms-flex: none;
        flex: none;
    width: 100%;
    border-bottom: solid 1px #777; }
  nav input[type="checkbox"]:checked + ul {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 100%;
    background: #999;
    transition: all 0.5s; }
  nav label {
    display: block; }
  nav input[type="checkbox"]:checked + ul li:nth-child(1) {
    background: #777;
    color: #fff; } }

.sacred-bones-logo {
  margin: 1em 0; }

.footer {
  padding-top: .7em;
  font-size: 80%;
  color: #666;
  border-top: 2px solid #eee;
  overflow: hidden; }
  .footer .contact a {
    color: #8085C1; }
  .footer .socials {
    margin: .7em 0; }
  .footer a.social-link {
    text-decoration: none; }
    .footer a.social-link .svg-icon {
      fill: inherit; }
    .footer a.social-link:hover .svg-icon {
      fill: #b90000; }
  .footer .svg-icon {
    width: 30px; }
  .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right; }
  .footer img {
    border: 0; }

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {
  display: block;
  z-index: 1; }

#mc_embed_signup input {
  border: 1px solid #ABB0B2;
  border-radius: 1px; }

#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox; }

#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio; }

#mc_embed_signup input:focus {
  border-color: #333; }

#mc_embed_signup .button {
  clear: both;
  background-color: #e33;
  border: 0 none;
  border-radius: 1px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto; }

#mc_embed_signup .button:hover {
  background-color: #b90000; }

#mc_embed_signup .small-meta {
  font-size: 11px; }

#mc_embed_signup .nowrap {
  white-space: nowrap; }

#mc_embed_signup .mc-field-group {
  clear: left;
  padding-bottom: 3%;
  min-height: 50px; }

#mc_embed_signup .size1of2 {
  clear: none;
  float: left;
  display: inline-block;
  width: 46%;
  margin-right: 4%; }

* html #mc_embed_signup .size1of2 {
  margin-right: 2%;
  /* Fix for IE6 double margins. */ }

#mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 3px; }

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%; }

#mc_embed_signup .mc-field-group select {
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  margin-bottom: 2px; }

#mc_embed_signup .indicates-required {
  text-align: right;
  font-size: 11px;
  margin-right: 4%; }

#mc_embed_signup .asterisk {
  color: #e85c41;
  font-size: 150%;
  font-weight: normal;
  position: relative;
  top: 5px; }

#mc_embed_signup .clear {
  clear: both; }

#mc_embed_signup .mc-field-group.input-group ul {
  margin: 0;
  padding: 5px 0;
  list-style: none; }

#mc_embed_signup .mc-field-group.input-group ul li {
  display: block;
  padding: 3px 0;
  margin: 0; }

#mc_embed_signup .mc-field-group.input-group label {
  display: inline; }

#mc_embed_signup .mc-field-group.input-group input {
  display: inline;
  width: auto;
  border: none; }

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both; }

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 100%; }

#mc_embed_signup #mce-error-response {
  display: none; }

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none; }

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0; }

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%; }

#mc_embed_signup #num-subscribers {
  font-size: 1.1em; }

#mc_embed_signup #num-subscribers span {
  padding: 0.5em;
  border: 1px solid #ccc;
  margin-right: 0.5em;
  font-weight: bold; }

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  display: inline-block;
  margin: 2px 0 1em;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  z-index: 1;
  color: #e85c41; }

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid #e85c41; }

#mc_embed_signup {
  margin-bottom: 1em; }

body {
  background: white;
  margin-top: 70px; }

a {
  color: #dd0000; }
  a:visited {
    color: #b90000; }

img,
video,
audio {
  max-width: 100%;
  height: auto; }

img {
  width: auto;
  height: auto !important;
  max-height: 300px; }

a.btn {
  color: #f6f6f6;
  background-color: #e33;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cabin", Times, Verdana, sans-serif;
  font-weight: 500;
  letter-spacing: .08em; }

.home .subtitle {
  font-size: 1.1em;
  font-weight: normal;
  color: #999999; }

.category-heading {
  text-align: left;
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 40px;
  border-bottom: 1px solid #999999; }

[class*="col-"] iframe {
  max-width: 100%; }

hr,
.separator {
  margin: 1em;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
