<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "MusicAlbum",
  "name": "Obey",
  "byArtist": {
    "@type": "MusicGroup",
    "name": "Exploded View"
  },
  "image": "https://explodedview.info/assets/obey_cover.jpg",
  "url": "https://www.sacredbonesrecords.com/products/sbr209-exploded-view-obey",
  "genre": "Kraut, Psych, Rock, In",
  "numtracks": "10",
  "track": [
    {
      "@type": "MusicRecording",
      "position": "1",
      "name": "Lullaby",
      "url": "https://explodedview.bandcamp.com/track/lullaby",
      "duration": "P00H02M12S"
    },
    {
      "@type": "MusicRecording",
      "position": "2",
      "name": "Open Road",
      "url": "https://explodedview.bandcamp.com/track/open-road",
      "duration": "P00H04M19S"
    },
    {
      "@type": "MusicRecording",
      "position": "3",
      "name": "Dark Stains",
      "url": "https://www.youtube.com/watch?v=B64K_3gkmPo",
      "duration": "P00H03M25S"
    },
    {
      "@type": "MusicRecording",
      "position": "4",
      "name": "Gone Tomorrow",
      "url": "https://explodedview.bandcamp.com/track/gone-tomorrow",
      "duration": "P00H05M03S"
    },
    {
      "@type": "MusicRecording",
      "position": "5",
      "name": "Obey",
      "url": "https://explodedview.bandcamp.com/track/obey",
      "duration": "P00H05M29S"
    },
    {
      "@type": "MusicRecording",
      "position": "6",
      "name": "Sleepers",
      "url": "https://explodedview.bandcamp.com/track/sleepers",
      "duration": "P00H03M49S"
    },
    {
      "@type": "MusicRecording",
      "position": "7",
      "name": "Letting Go of Childhood Dreams",
      "url": "https://explodedview.bandcamp.com/track/letting-go-of-childhood-dreams",
      "duration": "P00H02M41S"
    },
    {
      "@type": "MusicRecording",
      "position": "8",
      "name": "Raven Raven",
      "url": "https://explodedview.bandcamp.com/track/raven-raven",
      "duration": "P00H03M32S"
    },
    {
      "@type": "MusicRecording",
      "position": "9",
      "name": "Come on Honey",
      "url": "https://explodedview.bandcamp.com/track/come-on-honey",
      "duration": "P00H02M52S"
    },
    {
      "@type": "MusicRecording",
      "position": "10",
      "name": "Rant",
      "url": "https://explodedview.bandcamp.com/track/rant",
      "duration": "P00H04M45S"
    },
  ]
}
</script>
