<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "MusicAlbum",
  "name": "Summer came Early",
  "byArtist": {
    "@type": "MusicGroup",
    "name": "Exploded View"
  },
  "image": "https://explodedview.info/assets/summer-cover.jpg",
  "url": "https://explodedview.bandcamp.com/",
  "genre": "",
  "numtracks": "4",
  "track": [
    {
      "@type": "MusicRecording",
      "position": "1",
      "name": "Summer Came Early",
      "url": "https://soundcloud.com/sacredbones/summer-came-early",
      "duration": "PT3M26S"
    },
    {
      "@type": "MusicRecording",
      "position": "2",
      "name": "Forever Free",
      "url": "https://explodedview.bandcamp.com/track/forever-free",
      "duration": "PT2M41S"
    },
    {
      "@type": "MusicRecording",
      "position": "3",
      "name": "Mirror of the Madman",
      "url": "https://explodedview.bandcamp.com/track/mirror-of-the-madman",
      "duration": "PT3M46S"
    },
    {
      "@type": "MusicRecording",
      "position": "4",
      "name": "You Got A Problem Son",
      "url": "https://explodedview.bandcamp.com/track/you-got-a-problem-son",
      "duration": "PT3M09S"
    }
  ]
}
</script>
