
<nav class="topnavigation">
  <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu" checked="">

  <ul class="navigation">
    <li class="nav-item"><a class="extra" href="{{site.baseurl}}/about">About</a></li>
    <li class="nav-item"><a class="extra" href="{{site.baseurl}}/contact">Contact</a></li>
    <li class="nav-item"><a class="extra" href="{{site.baseurl}}/tour-dates">Tourdates</a></li>
    <li class="nav-item"><a class="extra" href="https://www.sacredbonesrecords.com/products/sbr146-exploded-view-exploded-view" target="_blank">Vinyl</a></li>
    <li class="nav-item"><a class="extra" href="https://explodedview.bandcamp.com/" target="_blank">Digital</a></li>
    <li class="nav-item"><a class="extra" href="{{site.baseurl}}/mixtapes">Mixtapes</a></li>
  </ul>

  <label for="css-toggle-menu" id="css-toggle-menu"></label>
</nav>
