// GENERAL LAYOUT
$content-width: 800px !default;
$max-content-width: calc(800px - (30px * 2));

$spacing-unit:     30px !default;
// Breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

// taken from minima TODO: breakpoint has to be harmonized/cleaned
$on-palm:          600px !default;
$on-laptop:        800px !default;

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// COLORS
$color-ev-red: rgb(221, 0, 0);
$color-ev-obey: #716c4e;
$color-ev-pantone806c: #FF3EB5;


$color-lightgrey: rgb(246,246,246);
$text-color: rgb(27, 27, 27);
$color-grey-400: rgb(153, 153, 153);
$link-color: $color-ev-pantone806c;
$link-hover-color: darken($link-color, 7%);
$link-visited-color: darken($link-color, 7%);

$primary: $color-ev-obey; // Thats a sample how you could change a BootStrap variable.
// $theme-colors: (
//   "primary": #e39,
// );

$link-color:                theme-color("primary") !default;
$link-decoration:           none !default;
// $link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

$spacer: 1rem !default;

// TYPOGRAPHY
$font-family-text: 'Lato', sans-serif;
$headings-font-family: 'Cabin', Helvetica, Verdana, sans-serif;
$font-family-base: $font-family-text;
// $primary: #6f31cd; // Thats a sample how you could change a BootStrap variable.
// $navbar-light-active-color: rgb(225, 0, 0);

$font-size-base: 14px;

// Headings font size
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color: inherit !default;


// Header
$header-height: 70px;
$font-size-title: 18px;

$border-radius: 1px;
