@import "variables";
@import "mixins";
@import "reset";
@import "fonts";
@import "syntax";
@import "grid";
@import "layout";
@import "typography";
@import "header";
@import "navigation";
@import "footer";
@import "mailchimp";
@import "newsletterform";

body {
  background: white;
  margin-top: $header-height;
}

a {
  color: $color-ev-red;

  &:visited {
    color: $link-visited-color;
  }
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
  max-height: 300px;
}

a.btn {
  color: $color-lightgrey;
  background-color: $primary;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $headings-font-family;
  font-weight: 500;
  letter-spacing: 0.08em;

  &:hover {
    background-color: darken($primary, 7%);
  }
}

.home .subtitle {
  font-size: 1.1em;
  font-weight: normal;
  color: $color-grey-400;
}

.category-heading {
  text-align: left;
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 40px;
  border-bottom: 1px solid $color-grey-400;
}

.home .post-heading {
  // @extend .h4;
  @extend .h4;
}
// Iframe correction within the grid
[class*="col-"] iframe {
  max-width: 100%;
}

.separator,
hr {
  margin: 1em;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.event {
  border-top: 1px solid $color-grey-400;
}
